main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

main::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/asstes/back-img.png) no-repeat 0 0/cover;
  opacity: 0.6;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: calc(100vw - 20px);
  height: 100vh;
}

.answer_zone {
  text-align: center;
  width: 180px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 18px;
}

.result_zone {
  margin-top: 30px;
  font-size: 20px;
  background: #333;
  padding: 30px;
  text-align: center;
  color: #fff;
}

form {
  display: flex;
  margin-top: 30px;
}
