
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'DungGeunMo';
}

#container::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/asstes/back-img.png) no-repeat 0 0/cover;
  opacity: 0.6;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 646px;
  height: 100%;
  z-index: 1;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-info {
  margin-right: 200px;
}

.nav-restart {
  margin-right: 10px;
}


.nav-close {
  justify-content: flex-end;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid black;
}

.answer-zone {
  display: flex;
  text-align: center;
  font-size: 36px;
  color: #333;
}

.answer-zone .ball-icon {
  margin-right: 14px;
}

.result-zone {
  margin-top: 30px;
  font-size: 20px;
  background: #333;
  padding: 30px;
  text-align: center;
  color: #fff;
}

form {
  display: flex;
  margin-top: 30px;
}
